* {
    margin: 0;
    padding: 0;
}

:root {
  --verde: #3A6351;
  --marrom: #5B3921;
  --bege: #EAD7C3;
  --verde-claro: #8AB17D;
  --marrom-claro: #A47149;
  --azul: #10085c;
}

html {
  scroll-behavior: smooth;
}


a {
    text-decoration: none;
}
h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--bege);
}
.header {
    background: rgb(7, 7, 7);
    padding-inline: 16px;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000; 
    height: 90px; 
}

.nav{
    max-width: 1280px;
    height: 90px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
}

.nav-list a {
    font-size: 18px;
    color: var(--bege);
    padding-block: 16px;
}

.titulo{
    margin-left: 24px;
    font-weight: 400;
    font-size: 20px;
    color: var(--bege);
}

.logo-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    max-width: 120px;
    max-height: 120px;
}


.banner {
    background: center / cover no-repeat;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cobre toda a tela */
}

.inicio{
    width: 60%;
    height: 50%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
    position: absolute; 
    
}

.sobre {
    width: auto;
    height: 100vh;
    background: center / cover no-repeat url(imgs/cafe_fundo.jpg);
    gap: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 20px;
}

.forms {
    height: 100vh;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-style: normal;

}

.produtos {
    height: 100vh;
    background: var(--verde-claro);
}


.texto {
    background: rgba(255, 255, 255, 0.1);
    width: 65%;
    min-height: 60%;
    margin-left: 10%;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.texto h1 {
    text-align: center;
    margin: 15px;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;

}

.texto p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-inline: 30px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    color: var(--bege);
    text-align: justify;
}

.sobrenos img {
    background-color: var(--verde);
    min-width:55%;
    min-height: 90%;
    margin-left: 20%;
    border-radius: 16px;

}

.img_sobre {
    max-width: 45%;
    max-height: 100%;
    opacity: 98%;
}

.divcontato {
    background: #111111;
    width: 40%;
    height: 600px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

.sendbutton {
    background-color: var(--verde);
    color: white;
    margin: 10px;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border-style: hidden;
    font-family: "Outfit", sans-serif;
    font-size: 1.5em;
}

.inputs input {
    color: #ffff;
    background: transparent;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    height: 50px;
    width: 400px;
    border: 2px solid #ffff;
    border-radius: 5px;
    font-size: 1.2em;
    position: relative;
    transition: 0.5s ease;
    z-index: 2;
    outline: none;
    padding-left: 15px;
}
.entryarea {
    position: relative;
    height: 70px;
    margin-top: 20px;
    width: 420px;
}


.labellnome {
    position: absolute;
    font-size: 1.2em;
    z-index: 1;
    position: absolute;
    top: 40%;      
    left: 20px;
    padding-inline: 5px;       
    transform: translateY(-50%);
    background-color: #111111;
    transition: all 0.5s ease;
    border-radius: 5px;
    pointer-events: none;
}

input:focus,
input:valid{
    border: 4px solid var(--verde);
}

input:focus + .labellnome,
input:valid + .labellnome{
    color: var(--verde);
    transform: translate(-10px, -43px) scale(0.88);

    z-index: 3;
}

@media (max-width: 768px) {
  .divcontato {
    width: 90%;
    height: auto;
  }

  .inputs input {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }
    sobre {
    flex-direction: column; /* empilha texto e imagem */
    text-align: center;
  }

  .img_sobre {
    max-width: 80%;
}



